{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "trailingComma": "all",
        "printWidth": 120,
        "tabWidth": 2,
        "arrowParens": "avoid",
        "proseWrap": "never",
        "endOfLine": "auto",
      },
    ],
    "no-console": "off",
    "no-undef": "off",
    "no-var": "error",
    "no-unused-vars": 0,
    "no-useless-catch": "off",
    "array-callback-return": "warn",
    "constructor-super": "warn",
  },
}
